@import url('https://fonts.googleapis.com/css2?family=Festive&family=Mountains+of+Christmas:wght@700&display=swap');

* {
    margin:0;
    padding:0;
    font-family: "Mountains of Christmas", sans-serif;
    font-size: 40px;
}

:root {
    /* --text: #F7F7F7; */
    /* --text: #171515; */
    --text: #010806;
    
}

* body {
    /* background-image: url(../images/vecteezy_christmas-trees-background_.jpg); */
    background-image: url(../images/vecteezy_mountain-winter-view-christmas-tree-background_.jpg);
    background-size:cover;
    background-position: center;
    min-height: 100vh;
    width: 100vw;
    overflow: hidden;
    position:relative;
    color: var(--text);
}

h1.heading {
    text-align: center;
    font-size: 1.5rem;
}

p {
    font-size: 0.7rem;
}

i {
    font-size: 0.7rem;
}

.game-area {
    box-sizing: border-box;
    width: 85%;
    height: 25vh;
    max-height: 450px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

.scoreboards {
    display: flex;
    height: 4.5rem;
}

.player-scoreboard {
        height: 100%;
        width: 85%;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1%;
}

.computer-scoreboard {
    height: 100%;
    width: 85%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
}

.win {
box-sizing: border-box;
width: 85%;
margin-left: auto;
margin-right: auto;
padding: 1%;
font-size: 5rem;
}

.rules {
    border: 5px solid;
    border-radius: 15px;
    background-color: aliceblue;
    padding: 20 20;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding: 20,0 20 0;
    bottom: 20px;
    left: 40px;
    position: absolute;
}

.results-area {
    box-sizing: border-box;
    width: 85%;
    height: 65vh;
    max-height: 450px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

.how-to-play {
    width: 100%;
    text-align: center;
}